body{
    margin: 0;
    padding: 0;
    background-color:#f0f2f5;

}
.container{
    border:1px solid;
    text-align: center;
    background-color: #f0f2f5;

}
img{
    width:250px;
    height: 100px;
    margin-top: 30px;
}
.box{
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 1px 1px 5px grey;
    border: 1px solid lightgray;
    width: 450px;
    height: 350px;
    background-color: white;
}
.log {
    font-weight:500;
    margin-top: 20px;
}
.input2{
    display: flex;
    width:450px;
    border:;
    margin-left: 20px;
}
.input2 input{
    width:350px;
    
    margin: 10px;
    height: 20px;
    font-weight: 2000;
    background-color: aliceblue;
    border: 1px solid aliceblue;

}
.input2{
    background-color: white;
    width: 405px;
    border: 1px solid lightgray;
    margin-top: 10px;
    border-radius: 5px;
}
.input2 img{
    width:20px;
    height: 20px;
    float: right;
    margin-top: 10px;

}
.inputs input{
    width:400px;
    height: 40px;
    border:1px solid lightgrey;
    border-radius: 4px;
    margin-top: 10px;
    background-color:aliceblue;
}
.input{
    width:400px;
    border:1px solid;
    margin-top: 10px;
    margin-left:20px;
    height: 40px;
    padding-top: 5px;
    border-radius: 5px;
    color: white;
    background-color: rgb(18, 159, 240);
    font-weight: 700;
    font-size: 20px;
}
small{
    color: rgb(75, 191, 245);
}
.input3{
    width: 200px;
    height: 50px;
    padding-top: 10px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin: 10px;
    margin-left: 120px;
    border-radius: 4px;
    opacity: 0.8;

    background-color: rgb(23, 153, 23);
}
.lan{
    height: 300px;
    margin-top: 100px;
}
.lan li{
    display: inline;
    list-style: none;
    float: left;
    margin-left:8px;
    margin-top: 5px;
}
.lan ul{
    margin: 0 auto;


}